NODE_ENV=production
PORT=3010
HOSTNAME=127.0.0.1
NARAYA_API_URL=https://naraya.biz.id/api
NEXT_PUBLIC_NARAYA_API_URL=https://naraya.biz.id/api
NARAYA_INTERNAL_TOKEN=change-this-internal-token
NARAYA_ANDROID_APK_PATH=/var/www/naraya/naraya-android/app/build/outputs/apk/web/debug/app-web-debug.apk
NARAYA_ANDROID_VERSION_CODE=38
NARAYA_ANDROID_VERSION_NAME=1.0.37-beta
NARAYA_ANDROID_MIN_SUPPORTED_VERSION_CODE=1
NARAYA_ANDROID_UPDATE_REQUIRED=false
